.DS_Store
*.db
To-do-list-microservices/go-auth/tmp
To-do-list-microservices/go-auth/bin/air
Event-driven/product/tmp/runner-build
Event-driven/booking/tmp/runner-build
Event-driven/payment/tmp/runner-build
